* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
    background-color: #333;
}

#canvas {
    display: block;
    margin: 0 auto;
}